HYBRIDIX_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

HYBRIDIX_CHUNK_SIZE=2000
HYBRIDIX_CHUNK_OVERLAP=200

HYBRIDIX_DENSE_INDEX_PATH=data/indexes/dense

HYBRIDIX_CHROMA_COLLECTION_NAME=hybridix

HYBRIDIX_DENSE_TOP_K=10